*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #f4f4f4;
}

.title{
    text-align: center;
    font-size: 50px;
}

.cards{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.card{
    border: 1px solid #b85468;
    width: 400px;
    height: 600px;
    background-color: #fff;
}

.card-top{
    margin-bottom: 10px;
}

.card-top img{
    width: 400px;
    height: 220px;
}

.card-title{
    text-align: center;
    margin-top: -55px;
    color: #fff;
    line-height:0.8;
    font-size: 50px;
}

.card-stats{
    border-top: 8px solid #b85468;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 150px;
    padding-top: 15px;
    color: #555;

}

.card-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 23px;
    color: #333;
    padding-top: 50px;
}

.card-body p{
    width: 90%;
    text-align: center;
}

.card-buttons{
    margin-top: 60px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-buttons a{
    background: #b85468;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-size: 30px;
}

.card-buttons a:hover{
    background-color: #770e1f;